pkgbase = bwget
	pkgdesc = A tiny, single-file Python replacement for wget with progress bar, resume, retries, and sha256 verification
       pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/Sr-0w/bwget
	arch = any
	license = MIT
	depends = python
	depends = python-requests
       depends = python-rich
       depends = python-libtorrent
       depends = python-tomli
	source = bwget.py
	source = bwget.1
       sha256sums = 2a7c2904cf096999601068b6cf40b4daffde76c25e7f592184945433863015f0
       sha256sums = 5589b53c6d3ed396a37ee7b19f49b78387e01606698fa3fd35d726fb304cd7ce

pkgname = bwget
