pkgbase = bwget
	pkgdesc = A tiny, single-file Python replacement for wget with progress bar, resume, retries, and sha256 verification
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/Sr-0w/bwget
	arch = any
	license = MIT
	depends = python
	depends = python-requests
	depends = python-rich
	depends = python-tomli
	source = bwget-0.3.2.py
	source = bwget.1
	sha256sums = 2fbf71a99283084c8364ac1f68ebe779bf5eeff0b1f718612510af4cad56f44b
	sha256sums = be46b51cc2c22ac9f248c80e477357b5a99a67009fb12d4c14407889cf3297a7

pkgname = bwget
