pkgbase = bwget
	pkgdesc = A tiny, single-file Python replacement for wget with progress bar, resume, retries, and sha256 verification
	pkgver = 0.3.5
	pkgrel = 1
	url = https://github.com/Sr-0w/bwget
	arch = any
	license = MIT
	depends = python
	depends = python-requests
	depends = python-rich
	depends = python-tomli
	source = bwget.py
	source = bwget.1
	sha256sums = a37a99c98ec3e2d984ad257c137698dd029c64900a0e7b4cf186af0cfb8e5bb2
	sha256sums = 78370b058f94a75249707d959d170e1aa55d8ef6b0e0129fa0db9ef746c60743

pkgname = bwget
